{% extends 'post-detail.html' %}
{% block title %}Add comment{% endblock %}
{% block content %}
<br/><br/>
<p>
    <h2>Comments</h2>
      <br/>
      {% if not post.comment.all %}
      No Comments yet...
        <br/><br/>
        <a href="{% url 'comment' post.id %}">Add Comment</a>
        <br/><br/>
      {% else %}
      <a href="{% url 'comment' post.id %}">Add Comment</a>
        {% endif %}


      {% if not comm.user.is_authenticated %}
      <br/><br/>
      {% for comm in comment.all %}
        <br/><br/>
      <strong>
        {{ comm.user }}
      </strong>
        {{ comm.created }}
      <br/>

      {{ comm.text }}
      <br/>

      {% endfor %}
      {% endif %}
      <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Send">
      </form>
</p>
{% endblock %}





