{% extends 'base.html' %}
{% block content %}
{% load static %}
  <body class="single is-preload">


        <div class="card bg-dark text-white">
          {% if category.name %}
          <img style="width: auto; height: 800px;" src="{{ category.image.url }}" class="card-img" alt="...">
          {% endif %}

          <div class="card-img-overlay">
            <h5 class="card-title" style="font-size: 40px; color: white;">{{ category.name }}</h5>
            {% if category.get_children %}
            {% for child in category.get_children %}
            <a style="color: blue;" href="{% url 'category' child.slug %}"><h2 style="color: white;">{{ child.name }}</h2></a>
            {% endfor %}
                   {% endif %}

          </div>
        </div>



          <!-- Main -->
            <div id="main">

              <!-- Post -->
                <!-- <article class="post">
                  <header>
                    <div class="title">
                      <h2><a href="#">{{ category }}</a></h2>
                    </div>  -->
<!--                    <div class="meta">-->

  <!--                    <time class="published" datetime="2015-11-01">November 1, 2015</time>-->
  <!--                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>-->
  <!--                  </div>-->
  <!--                </header>-->

  <!--                <span class="image featured"><img style="width: auto; height: 800px;" src="{{ category.image.url }}" alt="" /></span>-->

  <!--                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>-->
  <!--                <p>Nunc quis dui scelerisque, scelerisque urna ut, dapibus orci. Sed vitae condimentum lectus, ut imperdiet quam. Maecenas in justo ut nulla aliquam sodales vel at ligula. Sed blandit diam odio, sed fringilla lectus molestie sit amet. Praesent eu tortor viverra lorem mattis pulvinar feugiat in turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper tellus sit amet mattis dignissim. Phasellus ut metus ligula. Curabitur nec leo turpis. Ut gravida purus quis erat pretium, sed pellentesque massa elementum. Fusce vestibulum porta augue, at mattis justo. Integer sed sapien fringilla, dapibus risus id, faucibus ante. Pellentesque mattis nunc sit amet tortor pellentesque, non placerat neque viverra. </p>-->
                  <!-- <footer>
                    <ul class="stats">
                      <li><a href="#">General</a></li>
                      <li><a href="#" class="icon solid fa-heart">28</a></li>
                      <li><a href="#" class="icon solid fa-comment">128</a></li>
                    </ul>
                  </footer>
                </article> -->

            </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% if not category.get_children %}
          {% for child in category.get_children %}
              <div class="col" id="">
                <div class="card">
                  <img src="{{ child.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
            <a href="{% url 'category' category.slug %}"><h5 class="card-title">{{ child.name }}</h5></a>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
          {% endfor %}
                   {% endif %}
          </div>
          <br>

          <br>



<!--          {% if not category.get_children %}-->
<!--          {% for post in posts %}-->
<!--            <div class="card"  style="width: 300px;">-->


<!--  <a href="{% url 'post-detail' post.id %}" ><img style="width: 250px; height: 300px; margin-left: 25px;" src="{{ post.get_image }}" alt="" /></a>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{ post.title }}</h5>-->
<!--    <p class="card-text">{{ post.description|truncatewords:10 }}</p>-->
<!--  </div>-->

<!--  <div class="card-body">-->
<!--    <a href="{% url 'post-detail' post.id %}" style="margin-left: 90px;" class="card-link">Learn more</a>-->
<!--  </div>-->


<!--</div><br>-->
<!--{% endfor %}-->
<!--<br>-->
<!--<br>-->
<!--{% endif %}-->



<!--{% if not category.get_children %}-->
<!--                 {% for post in posts %}-->
<!--            <div class="row row-cols-1 row-cols-md-3 g-4">-->

<!--  <div class="col">-->
<!--    <div class="card h-100">-->
<!--        <a href="{% url 'post-detail' post.id %}"><img src="{{ post.get_image }}" class="card-img-top" alt="..."></a>-->
<!--      <div class="card-body">-->
<!--       <a href="{% url 'post-detail' post.id %}" style="text-decoration: none"><h5 class="card-title">{{ post.title }}</h5></a>-->
<!--        <p class="card-text">{{ post.description|truncatewords:10 }}</p>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--{% endfor %}-->
<!--      {% endif %}-->


            {% if not category.get_children %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts %}
  <div class="col">
    <div class="card">
        {% if post.get_image %}
        <a href="{% url 'post-detail' post.id %}"><img style="width: 250px; height: 350px; margin-left: 80px;" src="{{ post.get_image }}" class="card-img-top" alt="..."></a>
        {% else %}
        <img style="width: 250px; height: 350px;" src="" class="card-img-top" alt="...">
          {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description|truncatewords:10 }}</p>
            <a class="btn btn-danger" href="{% url 'post-detail' post.id %}" role="button">View more</a>
      </div>
    </div>
  </div>
    {% endfor %}
{% endif %}


<!-- Mini Posts -->
<!--<section>-->
<!--  <div class="mini-posts" >-->
<!--    {% if not category.get_children %}-->
<!--    {% for post in posts %}-->
<!--    &lt;!&ndash; Mini Post &ndash;&gt;-->
<!--      <article class="mini-post" style="margin-top: auto; margin-bottom: auto;">-->
<!--        <header>-->
<!--          <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>-->
<!--          <p>{{ post.description|truncatewords:10 }}</p>-->

<!--          <time class="published" datetime="2015-10-20">{{ post.create }}</time>-->
<!--          <a href="#" class="author"><img src="{{ post.get_image }}" alt="" /></a>-->
<!--        </header>-->
<!--        <a href="single.html" class="image"><img src="images/pic04.jpg" alt="" /></a>-->
<!--      </article>-->
<!--      {% endfor %}-->
<!--      {% endif %}-->



  </div>
</section>

      </div>
      </body>

{% endblock %}