{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mini-posts" >
	{% for post in posts %}
	<article class="mini-post" style="margin-top: auto; margin-bottom: auto;">
		<header>
			<h3><a href="{% url 'post-detail' post.id %}">{{ post }}</a></h3>
			<p>{{ post.description|truncatewords:10 }}</p>
			<a href="#" class="author"><img src="{{ post.get_image }}" alt="" /></a>
		</header>
		<a href="single.html" class="image"><img src="images/pic04.jpg" alt="" /></a>
	</article>
	{% endfor %}
</div>
{% endblock %}
